{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block page_title %}Login{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block content %}
    {#    <head>#}
    {#        <meta charset="UTF-8">#}
    {#        <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
    {#        <title>Login Page</title>#}
    {#        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">#}
    {#        <style>#}
    {#            #}
    {#        </style>#}
    {#    </head>#}


    <div class="form-container">
        <div class="form-header">
            <h2>Login</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-between align-items-center mb-3">
                <a class="text-decoration-none" href="{% url 'password_reset' %}">Forgot Password?</a>
            </div>
            <button type="submit" class="btn btn-success w-100">Login</button>
            <div class="line-with-middle-sep">
                <span>or</span>
            </div>
            <a href="{% url 'signup' %}" class="btn btn-primary w-100">Sign Up</a>
        </form>
    </div>

{% endblock content %}


