{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}Password Reset{% endblock %}

{% load crispy_forms_tags %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block content %}
    <div class="form-container">
        <div class="form-header">
            <h2>Password reset</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success w-100">Send Email</button>
            <div class="centered">
                <a class="text-decoration-none" href="{% url 'login' %}">Login</a> <span>|</span>
                <a class="text-decoration-none" href="{% url 'signup' %}">Signup</a>
            </div>
        </form>
    </div>
{% endblock content %}
