{% extends '_base.html' %}

{% load  static %}

{% block page_title %} books list {% endblock %}

{% block content %}

    <div class="container mt-4">
        <div class="row flex-row-reverse justify-content-md-left">
            {% for book in books %}
                <div class="card m-2 card shadow my-3 p-5 w-sm-75 w-100" style="max-width: 45%">
                    <div class="row g-0 h-100" dir="ltr"> <!-- dir to ltr -->
                        <div class="col-md-4">
                            {% if book.cover %}
                                <img src="{{ book.cover.url }}" alt="{{ book.title }}" class="img-fluid rounded-start"/>
{#                            {% else %}#}
{#                                <img src="{% static 'icons/bookk.jpg' %}" class="img-fluid rounded-start"/>#}
                            {% endif %}
                        </div>
                        <div class="col-md-8 h-100">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="card-body">
                                    {#                                        <a href="{{ book.get_absolute_url }}" style="text-decoration: none;"><h5 class="card-title"><strong>{{ book.title }}</strong></h5></a>#}

                                    <a href="{{ book.get_absolute_url }}" style="text-decoration: none;">
                                        <h5 class="card-title"><strong>{{ book.title }}</strong></h5>
                                    </a>
                                    <p class="card-text pt-3">{{ book.description|truncatewords:30 }}</p>
                                    <p class="text-muted">Author: {{ book.author }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="text-center bg-grey">
            <p>Educational Django Course <a class="text-dark" href="https://Bookstore.com/"
                                            target="_blank">BookStore</a></p> <!-- Translated content -->
        </div>
    </footer>

{% endblock %}
